<settings>
    <setting id="ShowBackgroundVideo" type="bool">false</setting>
    <setting id="HideBackGroundFanart" type="bool">false</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">false</setting>
    <setting id="FullScreenOsdInfoButtonPauseResume" type="bool">false</setting>
    <setting id="FirstTimeRun" type="bool">true</setting>
    <setting id="HomeMenuNoTVButton" type="bool">false</setting>
    <setting id="ExperimentalVolumeAmplificationShowToggleButton" type="bool">false</setting>
    <setting id="HomeMenuNoVideosButton" type="bool">false</setting>
    <setting id="Toggling" type="bool">false</setting>
    <setting id="HomeVideosButtonSuperFolder1" type="bool">false</setting>
    <setting id="HomeMenuNoPVRTVButton" type="bool">false</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">false</setting>
    <setting id="DisableAutoComplete" type="bool">false</setting>
    <setting id="UseCustomBackground" type="bool">false</setting>
    <setting id="HideVisualizationFanart" type="bool">false</setting>
    <setting id="ViewTypesSimplicity" type="bool">false</setting>
    <setting id="HomeMenuNoWeatherButton" type="bool">true</setting>
    <setting id="ShutdownHideSuspend" type="bool">false</setting>
    <setting id="ViewModeSwitchWallViews" type="bool">false</setting>
    <setting id="HomeMenuNoProgramsButton" type="bool">false</setting>
    <setting id="VideoInfoDialogShortenPlotInfo" type="bool">false</setting>
    <setting id="ShutdownHideHibernate" type="bool">false</setting>
    <setting id="HomeMenuHasFavoritesButtonStartWith" type="bool">false</setting>
    <setting id="View508HideInfo" type="bool">false</setting>
    <setting id="HomeMenuNoPicturesButton" type="bool">true</setting>
    <setting id="ShowBackgroundVis" type="bool">false</setting>
    <setting id="View509HideInfo" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedAlbums" type="bool">false</setting>
    <setting id="FullScreenOsdButtonSimplicity" type="bool">false</setting>
    <setting id="HomeMenuNoMusicButton" type="bool">false</setting>
    <setting id="HomeMenuHasFavoritesButton" type="bool">false</setting>
    <setting id="ExperimentalShutdownScreen" type="bool">false</setting>
    <setting id="ExperimentalVolumeAmplificationUseAutomaticPresetSwitching" type="bool">false</setting>
    <setting id="HomeVideosButtonSuperFolder1StartWith" type="bool">false</setting>
    <setting id="HomepageWeatherinfo" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="HomepageHideSearchButton" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedVideo" type="bool">false</setting>
    <setting id="HomeMenuNoPVRRadioButton" type="bool">true</setting>
    <setting id="HomeMusicButton5" type="string"></setting>
    <setting id="HomePVRButton2" type="string"></setting>
    <setting id="HomePVRButton1" type="string"></setting>
    <setting id="HomePVRButton3" type="string"></setting>
    <setting id="HomeVideosButton7" type="string">plugin.video.videomediaset</setting>
    <setting id="HomePictureButton1" type="string"></setting>
    <setting id="BoB_Queue" type="string"></setting>
    <setting id="CustomBackgroundPath" type="string">/home/aba/.kodi/media/Kodi Mod by androidaba.com.jpg</setting>
    <setting id="headertexttype" type="string">true</setting>
    <setting id="HomeProgramButton3" type="string">plugin.program.Forceclose</setting>
    <setting id="HomeMusicButton7" type="string"></setting>
    <setting id="HomeProgramButton5" type="string">plugin.program.steman</setting>
    <setting id="HomeMusicButton3" type="string"></setting>
    <setting id="HomeVideosButton1" type="string">plugin.video.streamondemand-pureita-master</setting>
    <setting id="HomeVideosButtonSuperFolder1Path" type="string"></setting>
    <setting id="HomeProgramButton6" type="string">plugin.program.GenieWiz</setting>
    <setting id="HomeVideosButton4" type="string">plugin.video.evilkingplus30</setting>
    <setting id="HomePictureButton5" type="string"></setting>
    <setting id="headerimagetype" type="string"></setting>
    <setting id="BackgroundType" type="string">1</setting>
    <setting id="HomeProgramButton2" type="string">script.areswizard</setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="HomeProgramButton7" type="string">script.module.youtube.dl</setting>
    <setting id="HomePVRButton6" type="string"></setting>
    <setting id="HomePictureButton3" type="string"></setting>
    <setting id="HomeMusicButton1" type="string"></setting>
    <setting id="HomePVRButton5" type="string"></setting>
    <setting id="HomeVideosButton3" type="string">plugin.video.infinitylegion</setting>
    <setting id="HomeMusicButton4" type="string"></setting>
    <setting id="HomeVideosButton5" type="string">plugin.video.Stefano</setting>
    <setting id="HomeProgramButton4" type="string">plugin.video.KodiMod</setting>
    <setting id="HomeVideosButton6" type="string">plugin.video.Men of the Boss</setting>
    <setting id="HomeVideosButtonSuperFolder1Name" type="string"></setting>
    <setting id="HomePictureButton2" type="string"></setting>
    <setting id="HomeVideosButton2" type="string">plugin.video.PLANET ANDROID MANIA</setting>
    <setting id="HomeProgramButton1" type="string">plugin.video.abainstaller</setting>
    <setting id="HomePictureButton7" type="string"></setting>
    <setting id="HomeMusicButton6" type="string"></setting>
    <setting id="HomePVRButton7" type="string"></setting>
    <setting id="HomePictureButton4" type="string"></setting>
    <setting id="HomePictureButton6" type="string"></setting>
    <setting id="HomePVRButton4" type="string"></setting>
    <setting id="HomeMusicButton2" type="string"></setting>
</settings>
